.root-container.about{

    .about-us{
        margin : 30px auto;
        border : solid 1px $lightBorder;
        box-sizing: border-box;
        border-radius: 30px;
        padding: 30px;
        line-height: 30px;
    }
}