html{
    height: 100%;
}

body{
    min-height: 100%;
}

.auth{
    background-image : url('/../images/gun.svg');
    background-repeat: no-repeat;
    background-position: 0px 50px;
    background-size: 100% auto;
    background-attachment: fixed;
    background-color: $lightBackground;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    .floating{
        width: 40%;
        height: max-content;
        text-align: center;
        justify-content: center;
        .logo{
            width: 100%;
            justify-content: center;
            display: flex;
            img{
                display: block;
                width : 150px;
            }
            margin : 20px 0;
        }
        h3{
            margin: 20px;
        }
        .card-item{
            margin : 20px;
            box-sizing: border-box;
            padding : 20px 40px;
            background-color: $white;        
            box-shadow: $shadowLight;
        }
    }
}