#dashboard{
    background-color: $lightBackground;
    .layout{
        display: flex;
        .left-bar{
            background-color: $white;
            box-shadow: $shadowLight;            
            width: 23%;
            .heading{
                display: flex;
                justify-content: center;
                padding : 25px 0;
                background-color: rgba(235,235,235, .2);
                font-size: $font22;
                color: $orange4;
                font-weight: $medium;
                img{
                    display: block;
                }   
                span{
                    padding : 0 10px;
                }
            }
            .links{
                padding-top: 20px;
                a{
                    &.selected, &:hover{
                        background-color: $grey1;
                        color: $white;
                        .icon{
                            margin-left: -10px;
                            img{
                                filter: invert(99%) sepia(4%) saturate(258%) hue-rotate(136deg) brightness(114%) contrast(100%);
                            }
                        }
                    }
                    transition: color .3s;
                    display: flex;
                    align-items: center;
                    box-sizing: border-box;
                    padding : 20px 0 20px 14%;

                    .icon{
                        width : 40px;
                        text-align: center;
                        // padding-left: 20px;
                        box-sizing: unset;
                        transition: margin .3s;
                        img{
                            transition: filter .3s;
                        }
                    }
                    span{
                        padding : 0 5px;
                        display: block;
                    }
                    color: $grey1;
                    font-weight: $medium;
                    font-size: $font14;
                }
            }
        }

        .main-right{
            padding : 20px;
            width: 77%;
            .content{
                box-shadow: $shadowLight;
                padding : 20px 40px;
                background-color: $white;
                display: block;
                .topic-content{
                    .items{
                        padding-top: 10px;
                        .item{
                            border: solid 1px $lightBorder;
                            border-radius: 20px;
                            padding : 20px;
                            margin: 15px 0;

                            &.expanded{
                                align-items: unset;
                                .para.small{
                                    font-size: $font16;
                                    color: $grey2;
                                }
                                .details > *{
                                    margin-bottom : 10px ;
                                }
                                h4, h5{
                                    margin: 10px 0;
                                }
                                h4{
                                    font-size: $font22;
                                }
                                .exp{
                                    display: none !important;
                                }

                            }
                            &.collapsed{
                                .colap{
                                    display: none !important;
                                }
                                .para.small{
                                    height: 40px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    margin : 10px 0;
                                }
                            }

                            .bar{
                                display: flex;
                                justify-content: space-between;
                            }
                            .elem{
                                &.half{
                                    width: 50%;
                                }
                                &.flex{
                                    display: flex;
                                    align-items: center;
                                    &>*{
                                        margin : 0 30px 0 0;
                                    }

                                }
                                select{
                                    padding : 8px 30px;
                                    border: solid 1px $lightBorder;
                                    border-radius: 100px;
                                    font-size: $font12;
                                    font-weight: $medium;
                                    color: $grey2;
                                }
                                table{
                                    font-size: $font12;
                                    font-weight: $medium;
                                    font-style: italic;
                                    color: $grey2;
                                    width : 100%;
                                    tr{
                                        border-bottom: solid 5px transparent;
                                        td:nth-child(1){
                                            width: 30%;
                                        }
                                        td{
                                            vertical-align: top;
                                        }
                                    }
                                }
                                .attach{
                                    display: flex;
                                    align-items: center;
                                    .download{
                                        width: 50px;
                                        height: 50px;
                                        border-radius: 100px;
                                        background-color: white;
                                        border: solid 1px $lightBorder;
                                        box-sizing: border-box;
                                        padding: 10px;
                                        margin: 5px 0;
                                        img{
                                            display: block;
                                            width: 100%;
                                        }
                                    }
                                    .name{
                                        color: $grey2;
                                        padding-left: 30px;
                                        font-size: $font14;
                                        font-weight: $medium;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


#dashboard{
    .item{
        &.dpView{
            display: flex;
            align-items: center;
            .dp{
                width: 100px;
                img{

                }
            }
            .details{
                padding : 0 20px;
                flex-grow: 1;
            }
        }
    }
}