h1{
    font-family: $font2;
    font-size: $font66;
}


h3{
    font-family: $font2;

}

h4{
    font-size: $font16;
    color: $grey2;
}

h5{
    font-size: $font12;
    color: $grey2;
    font-weight: $medium;
    font-style: italic;
    display: flex;
    align-items: center;
    &.dash::before{
        content: ' ';
        margin-right: 10px;
        display: block;
        background-color: $grey2;
        width: 10px;
        height: 2px;
    }
}


h6{
    color: $orange4;
    font-size: $font12;
    display: flex;
    align-items: center;
    &::before{
        content: ' ';
        display: block;
        height: 5px;
        width: 5px;
        border-radius: 10px;
        background-color: $orange4;
        margin-right: 10px;
    }
}

p{
    font-size: $font16;
}

div.para.small{
    font-size: $font12;
}


.regular{
    font-weight: $regular;
}

.hide-It{
    display: none !important;
}

@mixin button{
    padding : 12px 30px;
    color: $white;
    font-size: $font18;
    font-weight: $bold;
    border-radius: 100px;
    box-sizing: border-box;    
    transition: background-color .3s, border .3s;
    i{
        padding-left: 5px;
    }
    &.small{
        font-weight: $semibold;
        font-size: $font12;
        padding : 6px 20px;  
    }    
}

.button.solid{
    @include button;
    background-color: $orange4;
    border: solid 2px $orange4;    
    cursor: pointer;
    &:hover{
        border: solid 2px $white;        
        background-color: transparent;        
    }
    &.add{
        font-size: 16px;
        padding : 5px 10px;
        margin-top: 30px;
    }
    &.white:hover{
        border: solid 2px $orange4;
        background-color: transparent;
        color: $orange4;
    }
}

.button.flat{
    @include button;    
    border: solid 2px $white;
    font-weight: $semibold;
    &:hover{
        background-color: $orange4;
        border: solid 2px $orange4;                
    }
}

.link_to{
    color: $orange4;
    font-size : $font14;
    cursor: pointer;
    font-weight: $medium;
    font-style: italic;
    transition: color .3s;
    &:hover{
        color: $grey2;
    }
    padding: 5px 15px;
    border: solid 1px $lightBorder;
    border-radius: 100px;
    font-size : $font12;
    display : block;
    margin : 10px 0;

}

.topic-title{
    font-family: $font2;
    font-size: $font40;
    color: $lightBlack;
    font-weight: $medium;
    text-align: center;
    span{
        position: relative;        
        &::before{
            content: ' ';
            height: 3px;
            width: 30px;
            background-color: $orange4;
            display: block;
            position : absolute;
            bottom: 11px;
            left : -35px;
        }
    }
}

@mixin container{
    width : 100%;
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
}

.section{
    padding : 70px 0;
}

.tab{
    display: flex;
    border-bottom: solid 1px $lightBorder;
    a{
        color: $grey2;
        font-size: $font16;
        font-weight: $medium;
        padding : 10px 5px;
        display: block;
        margin-right: 20px;
        &.selected{
            color: $orange4;
            border-bottom: solid 2px $orange4;
        }
    }
}

.pagination{
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
    .pager{
        display: flex;
        .pageNo{
            border: solid 1px $lightBorder;
            
            &.selected, &:hover{
                background-color: $orange4;
                border-color: $orange4;
                color: $white;
            }
            transition: background-color .3s, color .3s;
            cursor: pointer;
            border-radius: 5px;
            color: $orange4;
            font-size: $font18;
            min-width: 35px;
            line-height: 35px;
            text-align: center;
        }
    }
}

form{

    .line{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .elem.left{
        text-align: left !important;
    }
    .elem.half{
        width: 45% !important;
    }

    .elem.toRight{
        display: flex;
        justify-content: flex-end;
    }
    
    .elem.space{
        margin : 10px 0;
    }

    submit, button{
        font-size: $font16 !important;
        padding : 10px 20px !important;
        margin : 20px 0 !important;
        display: block;
    }

    input[type='checkbox']{
        width: auto;
        margin-right: 10px;
    }

    input.title{
        font-size: $font18;
        font-weight: $medium;
    }
    input, select, textarea{
        border: solid 1px $lightBorder;
        box-sizing: border-box;
        padding: 10px 20px;
        width: 100%;
        transition: border .5s;
        border-radius: 10px;
        &:focus{
            border-color: $orange4;
            outline: none;
        }
        margin: 10px 0;
        font-size: $font14;
    }
}