/* colors */
$orange4 : #FC5A34;
$white : #ffffff;
$black : black;
$lightBlack : #272727;
$grey1 : #1C1C1C;
$grey2 : #848484;
$lightBackground : #F8F8F8;
$shadowLight : 0px 3px 20px rgba(0, 0 , 0, 0.03);

$lightBorder : rgba(220, 220, 220, .73);

/* Font Weight */
$regular : 400;
$medium : 500;
$semibold : 600;
$bold : 700;

$font1 : 'Poppins', sans-serif;
$font2 : 'Oswald', sans-serif;

/* Font-size */

$font66 : 66px;
$font40 : 40px;
$font22 : 22px;
$font20 : 20px;
$font18 : 18px;
$font16 : 16px;
$font14 : 14px;
$font12 : 12px;
