/* colors */
$orange4 : #FC5A34;
$white : #ffffff;
$black : black;
$lightBlack : #272727;
$grey1 : #1C1C1C;
$grey2 : #848484;
$lightBackground : #F8F8F8;

/* Font Weight */
$regular : 400;
$medium : 500;
$semibold : 600;
$bold : 700;

$font1 : 'Poppins', sans-serif;
$font2 : 'Oswald', sans-serif;

/* Font-size */

$font66 : 66px;
$font40 : 40px;
$font22 : 22px;
$font20 : 20px;
$font18 : 18px;
$font16 : 16px;
$font14 : 14px;
$font12 : 12px;

h1{
    font-family: $font2;
    font-size: $font66;
}

p{
    font-size: $font16;
}

.regular{
    font-weight: $regular;
}

@mixin button{
    padding : 12px 30px;
    color: $white;
    font-size: $font18;
    font-weight: $bold;
    border-radius: 100px;
    box-sizing: border-box;    
    transition: background-color .3s, border .3s;
    i{
        padding-left: 5px;
    }
}

.button.solid{
    @include button;
    background-color: $orange4;
    border: solid 2px $orange4;    
    &:hover{
        border: solid 2px $white;        
        background-color: transparent;        
    }
    &.white:hover{
        border: solid 2px $orange4;        
        background-color: transparent;
        color: $orange4;
    }
}

.button.flat{
    @include button;    
    border: solid 2px $white;
    font-weight: $semibold;
    &:hover{
        background-color: $orange4;
        border: solid 2px $orange4;                
    }
}

.topic-title{
    font-family: $font2;
    font-size: $font40;
    color: $lightBlack;
    font-weight: $medium;
    text-align: center;
    span{
        position: relative;        
        &::before{
            content: ' ';
            height: 3px;
            width: 30px;
            background-color: $orange4;
            display: block;
            position : absolute;
            bottom: 11px;
            left : -35px;
        }
    }
}

@mixin container{
    width : 100%;
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
}

.section{
    padding : 70px 0;
}

.tab{
    a{
        color: $grey2;
    }
}

#dashboard{
    background-color: $lightBackground;
    .layout{
        display: flex;
        .left-bar{
            background-color: $white;
            width: 23%;
            .heading{
                display: flex;
                justify-content: center;
                padding : 25px 0;
                background-color: rgba(235,235,235, .2);
                font-size: $font22;
                color: $orange4;
                font-weight: $medium;
                img{
                    display: block;
                }   
                span{
                    padding : 0 10px;
                }
            }
            .links{
                padding-top: 20px;
                a{
                    display: flex;
                    box-sizing: border-box;
                    padding : 20px 0 20px 14%;

                    .icon{
                        width : 40px;
                        text-align: center;
                        // padding-left: 20px;
                        box-sizing: unset;
                    }
                    span{
                        padding : 0 5px;
                        display: block;
                    }
                    color: $grey1;
                    font-weight: $medium;
                    font-size: $font14;
                }
            }
        }
    }
}